// 字体大小规范
$font_text_s: 12px;
$font_text_m: 14px;
$font_text_l: 16px;
$font_text_lx: 18px;
// 颜色规范
$color_text_3: #333;
$color_text_6: #666;
$color_text_9: #999;
$color_bg_fa: #fafafa;
$theme_color: #f3684f;
// 混合方法